/*** MI ESTILO ***/


/*** nav ***/


/*
nav {
  color: #fff;
  background-color: #005eff;
  width: 100%;
  height: 56px;
  line-height: 56px;
}
*/


/*** leaflet map ***/

#map {
  width: 100%;
  height:85vh;
  z-index: 2;
}
.ghbtns {
  position: relative;
  top: 4px;
  margin-left: 5px;
  z-index: 2;
}

/*** sticky footer ***/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/*** select options ***/
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 12px !important;
    color: #26a69a;
    display: block;
    line-height: 12px !important;
    padding: 12px 14px;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
}

.picker__day--disabled, .picker__day--disabled:hover, .picker--focused .picker__day--disabled{
  background: #595959 !important;
}
