/*** MI ESTILO ***/


/*** nav ***/


/*
nav {
  color: #fff;
  background-color: #005eff;
  width: 100%;
  height: 56px;
  line-height: 56px;
}
*/


/*** leaflet map ***/

#map {
  width: 100%;
  height:85vh;
  z-index: 2;
}
.ghbtns {
  position: relative;
  top: 4px;
  margin-left: 5px;
  z-index: 2;
}

/*** sticky footer ***/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/*** select options ***/
media="screen, projection"
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 14px !important;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
}
