/*** MI ESTILO ***/

/* Replace colors #26a69a, #84c7c1 from materialize.css

/*** nav ***/


/*
nav {
  color: #fff;
  background-color: #005eff;
  width: 100%;
  height: 56px;
  line-height: 56px;
}
*/


/*** leaflet map ***/

#map {
  width: 100%;
  height:85vh;
  z-index: 2;
}
.ghbtns {
  position: relative;
  top: 4px;
  margin-left: 5px;
  z-index: 2;
}

/*** sticky footer ***/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/*** select options ***/
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 12px !important;
    color: #37474f;
    display: block;
    line-height: 12px !important;
    padding: 12px 14px;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
}

.picker__day--disabled, .picker__day--disabled:hover, .picker--focused .picker__day--disabled{
  background: #595959 !important;
}


/*** noUi sliders ***/
.noUi-connect {
  background-color: #37474f !important;
}

.noUi-horizontal .noUi-handle {
  background-color: #37474f !important;
}

.noUi-target .range-label {
  
  background-color: #37474f !important;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4) !important;
}

.picker__weekday-display {
  
  background-color: #37474f !important;
  
}

.circle {
  height: 30px !important;;
  width: 40px !important;
  border-radius: 0% !important;
}

label {
    font-size: .9rem;
    color: #212121;
}